[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
pygithub = "*"
jupyterlab = "*"
pyspark = "==2.3.2"

[requires]
python_version = "3.7"
